
/* General definitions */
.text-color {
  color: #F5F5F5;
}

.text-url {
  color: inherit;
  text-decoration: underline;
}

.text-url:hover {
  color: #C0C0C0;
}

/* Navbar Section*/
.navbar-light .navbar-nav .nav-link {
  color: rgba(59, 7, 7, 0.67);
}

/* Animated bg inspired by "Alvaro https://codepen.io/alvarotrigo/pen/dyzgOER */
.bg-anim {
  width: 100%;
  height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #281919 0%, #281919 25%, #281919 51%, #365158 100%);
  -webkit-animation: AnimateBG 30s ease infinite;
          animation: AnimateBG 30s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* enhance compatibility for older Moz & Opera */
@-moz-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Home Section */
.title-mod {
  font-family: 'Raleway', sans-serif;
  color: rgba(225,225,225, .01);
  background-image: url("/static/images/104_title_background.webp");
  background-repeat: repeat;
  -webkit-background-clip:text;
  background-clip: text;
  /* font-weight: 900; */
  animation: AnimateH1 15s ease-in-out infinite;
}

@keyframes AnimateH1 {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}

@-webkit-keyframes AnimateH1 {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}

/* enhance compatibility for older Moz & Opera */
@-moz-keyframes AnimateH1 {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}

@-o-keyframes AnimateH1 {
  0%, 100% {
    background-position: left top;
  }
  25%{
    background-position: right bottom;
   }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }   
}


/* Footer */
.footer-divider {
    border-top: 1px solid white;
}

.social a:hover i.fa-youtube {
  color: #D11111;
  transition: all 0.2s ease-in-out;
}

.social a:hover i.fa-twitter {
  color: #117ED1;
  transition: all 0.2s ease-in-out;
}

.social a:hover i.fa-instagram {
  color: #BE10C7;
  transition: all 0.2s ease-in-out;
}

.social a i.fa-lg {
  font-size: 2rem;
}


/* Media Queries for small screens */

@media (max-width: 800px) {
  .title-mod {
    font-size: 5rem;
  }
}

@media (max-width: 470px) {
  .title-mod {
    font-size: 3rem;
  }
  .text-small {
    font-size: 1.1rem;
  }
}