<!-- Footer injection template -->
<footer class="footer py-5 footer-divider">
    <div class="container text-center social">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page"
            class="text-white mx-3"><i class="fab fa-youtube fa-lg"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page"
            class="text-white mx-3"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page"
            class="text-white mx-3"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
</footer>