{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-md-12 text-center py-5">
      <h1>About this site</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            Dear user, thanks for signing up and using my site. I hope it will help
            you to inventorise your collections and make them digitally available for
            you.
            Feel free to get in contact with me via the contact form.
            <br>
            <strong>Terms of Use:</strong><br>
            This site has no guarantee in terms of availability or uptime.
            It was created purely for educational purposes.
            The site owner keeps the right to close your account without any
            further notice. Furthermore it is prohibited to upload and sort of
            content, that violates the law in Switzerland.
            While using this site, you automatically agree to these terms.
        </p>
    </div>
  </div>
</div>
{% endblock %}