{% extends 'base.html' %}

<!-- required to load the static template tag library -->
{% load static %}

{% block content %}

<div class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-md-12 text-center py-5">
        <h1>{{ collection.collection_name }}</h1>
      </div>
    </div>
    {% if items %}
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="{% url 'collection_update' pk=collection.pk %}" class="btn btn-primary mb-2">Edit Collection</a>
          <a href="{% url 'item_create' pk=collection.pk %}" class="btn btn-primary mb-2">Add Item</a>
          <a href="{% url 'collection_list' %}" class="btn btn-secondary mb-2">My Collections</a>
        </div>
      </div>
      <!-- Add the search form below the buttons -->
      <div class="row">
        <div class="col-md-12 text-center">
          <form method="get" class="form-inline d-inline-flex justify-content-center mb-4">
            <div class="input-group">
              <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" placeholder="Search items...">
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
      <div class="row">
        {% for item in page_obj %}
        <div class="col-md-4 mb-3">
          <div class="card mb-4 shadow-sm">
            {% if "placeholder" in item.image.url %}
            <img class="card-img-top" src="{% static 'images/102_item_default.webp' %}" alt="Image Placeholder">
            {% else %}
            <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.item_name }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title text-dark">{{ item.item_name }}</h5>
              <p class="card-text text-dark">{{ item.description }}</p>
              <div class="btn-group" role="group" aria-label="Item Actions">
                <a href="{% url 'item_detail' item.pk %}" class="btn btn-primary mr-2">View</a>
                <a href="{% url 'item_update' item.pk %}" class="btn btn-secondary mr-2">Update</a>
                <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% empty %}
        <!-- create condition for search, if nothing is found -->
        {% if search_performed %}
        <div class="col-md-12 text-center">
          <p class="lead">No search results.</p>
          <a href="{% url 'collection_detail' collection_id %}" class="btn btn-secondary">Cancel</a>
        </div>
        {% else %}
        <div class="col-md-12 text-center">
          <p class="lead">You haven't created any items yet.</p>
          <a href="{% url 'item_create' collection.pk %}" class="btn btn-primary">Create a new Item</a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    <!-- pagination code used for the items -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        <!-- code to enrich the url with the page number we are currently in -->
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <!-- the current text, which is current page, is hiiden for screen readers -->
        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %} 
      </div>
{% endblock %}
