{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center mb-4">Create Item</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-center mt-4">
          <button type="submit" class="btn btn-primary mr-3">Create</button>
          <a href="{% url 'collection_detail' collection_id %}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}