{% extends 'base.html' %}

<!-- required to load the static template tag library -->
{% load static %}

{% block content %}

<div class="container-fluid bg-dark text-light">
    <div class="row">
      <div class="col-md-12 text-center py-5">
        <h1>{{ collection.collection_name }}</h1>
      </div>
    </div>
    <div class="row">
      {% for item in items %}
      <div class="col-md-4 mb-3">
        <div class="card mb-4 shadow-sm">
          {% if "placeholder" in item.image.url %}
            <img class="card-img-top" src="{% static 'images/102_item_default.webp' %}" alt="Image Placeholder">
          {% else %}
            <img class="card-img-top" src="{{ item.image.url }}" alt="{{ item.item_name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title text-dark">{{ item.item_name }}</h5>
            <p class="card-text text-dark">{{ item.description }}</p>
            <div class="btn-group" role="group" aria-label="Item Actions">
              <a href="{% url 'item_detail' item.pk %}" class="btn btn-primary mr-2">View</a>
              <a href="{% url 'item_update' item.pk %}" class="btn btn-secondary mr-2">Update</a>
              <a href="{% url 'item_delete' item.pk %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-md-12 text-center">
        <p class="lead">You haven't created any items yet.</p>
        <a href="{% url 'item_create' collection.pk %}" class="btn btn-primary">Create a new Item</a>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
