{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bg-dark text-light">
  <div class="row">
    <div class="col-md-12 text-center py-5">
      <h1>The Collection</h1>
      <p class="lead mt-3">SignUp to view the content or Login</p>
      <!-- urls altered from allauth default forms -->
      <a href="{% url 'account_signup' %}" class="btn btn-primary mr-3">SignUp</a>
      <a href="{% url 'account_login' %}" class="btn btn-success">Login</a>
    </div>
  </div>
</div>
{% endblock %}

<!-- Add Footer into entry page -->
{% block footer %}

{% include "includes/footer.html" %}

{% endblock %}